In [2]:
s="string"

In [3]:
type(s)

str

In [4]:
#string are immutable cannot be changed

In [5]:
s[2]

'r'

In [6]:
s[0]

's'

In [157]:
s[0]='j' #assign is not possible

TypeError: 'str' object does not support item assignment

In [8]:
#forward as well as backward indexing are possible

In [9]:
s[-1]

'g'

In [10]:
#travesal means acess each character one by one

In [13]:
for ch in range(len(string)):
    print(string[ch],end='$')

j$a$t$i$n$

In [16]:
string="I love My India"
for i in range(-1,-len(string)-1,-1):
    print(string[i],end=" ")

a i d n I   y M   e v o l   I

In [17]:
reverse=string.split(" ")

In [18]:
reverse

['I', 'love', 'My', 'India']

In [19]:
rs=" ".join(reversed(reverse))

In [20]:
rs

'India My love I'

In [21]:
"Jatin"+"Yadav"

'JatinYadav'

In [26]:
"Jatin"*5

'JatinJatinJatinJatinJatin'

In [28]:
"Jatin"+"123"

'Jatin123'

In [29]:
"Jatin"+" "+"Yfa"

'Jatin Yfa'

In [30]:
#membership operator

In [31]:
"J" in 'jatin'

False

In [32]:
'J' in "Jatin"

True

In [33]:
"Jai" in "Jatin"

False

In [34]:
"Jat" in "Jatin"

True

In [35]:
"taj" in "jatin"

False

In [36]:
#Comparision Operator

In [37]:
#character by character comparision happens in python

In [38]:
s1="Jatin"

In [39]:
s2='jatin'

In [40]:
s1==s2

False

In [41]:
ord("A")

65

In [43]:
ord("a")

97

In [45]:
ord("1")

49

In [46]:
chr(49)

'1'

In [47]:
chr(65)

'A'

In [48]:
"Jatin" != "jatin"

True

In [50]:
"Jatin" >= "yadav"

False

In [51]:
"Jatin" < "Yadavachhatarpur"

True

In [52]:
#slicing operator in string

In [53]:
String="Welcoome meri jaan I love you"

In [54]:
String

'Welcoome meri jaan I love you'

In [55]:
#Stringname[start:Stop:Stepsize]

In [59]:
Sring="Jatin"

In [64]:
Sring[::-1]

'nitaJ'

In [66]:
for i in range(len(String)):
    print(i,String[i])

0 W
1 e
2 l
3 c
4 o
5 o
6 m
7 e
8
9 m
10 e
11 r
12 i
13
14 j
15 a
16 a
17 n
18
19 I
20
21 l
22 o
23 v
24 e
25
26 y
27 o
28 u

In [67]:
s="RaviKumar"

In [72]:
s[::-1]

'ramuKivaR'

In [74]:
l=[1,2,3,54]

In [75]:
l

[1, 2, 3, 54]

In [78]:
l[::-1]

[54, 3, 2, 1]

In [79]:
s

'RaviKumar'

In [80]:
s[10::]

''

In [88]:
j=len(s)

In [90]:
for i in range(j):
    print(s[i],-j)
    j=j-1

R -9
a -8
v -7
i -6
K -5
u -4
m -3
a -2
r -1

In [91]:
s[:2]+s[2:]

'RaviKumar'

In [94]:
#str[10] return error
#str[10:15] not return error retrun empty string

In [95]:
#if step size is positve move forward if step val is 
#nagative then backward direction,stop val do not include

In [96]:
string="Python Programming"

In [97]:
string[::-2]

'gimroPnhy'

In [98]:
string[2:3]

't'

In [99]:
string[2:3:-1]

''

In [101]:
string[-15:-16:-1]

'h'

In [102]:
string[-6:7:-2]

'agr'

In [103]:
string[4:-8]

'on Pro'

In [104]:
string[9:-10]

''

In [105]:
string[9:-10:-1]

'o'

In [107]:
string[22::-6] #consider last index here

'grn'

In [108]:
string[2:-22:-1]

'tyP'

In [109]:
string[15::-2]

'imroPnhy'

In [110]:
string[-15::-2]

'hy'

In [111]:
string[7:-1]

'Programmin'

In [112]:
#len() function cal space also

In [115]:
len("Jatin           Yadav")

21

In [116]:
#capitalize----->first letter in capital letter

In [120]:
str.capitalize("jatin Ydava is Data scientist")

'Jatin ydava is data scientist'

In [121]:
#find(sub[,start[,end]])

In [124]:
st="mammals"

In [125]:
st.find("ma")

0

In [126]:
st.find("ma",2,6)

3

In [127]:
st.find("s")

6

In [128]:
st.find("jjj")

-1

In [129]:
#isalnum() -------return true if there is alpha numeric value

In [130]:
"Jatin123".isalnum()

True

In [131]:
"jatin@123".isalnum()

False

In [132]:
#isalpha-----retrun true if all are alpha

In [133]:
"jatin Ydava".isalpha()

False

In [134]:
"Jatinyadav".isalpha()

True

In [135]:
#isdigit()----->true if all the val is numeric

In [136]:
"123434".isdigit()

True

In [137]:
#lower------>convert string into lowercase
#islower ------>fun check if string is in lowercase
#upper-------->convert all string into uppercase
#isupper------>check if string is upper case

In [138]:
#despite of have number in the string

In [139]:
"Jatin1232".islower()

False

In [140]:
#istrip()------->return string after remove space

In [142]:
"    jatin   ".lstrip()

'jatin   '

In [143]:
"   Jatin   ".rstrip()

'   Jatin'

In [144]:
"welcome".lstrip("me")

'welcome'

In [145]:
"welcome".lstrip("wel")

'come'

In [146]:
"welcome".rstrip("me")

'welco'

In [148]:
"welcome".rstrip("m")

'welcome'

In [149]:
#isspace()--->retrurn true if string contains spaces only

In [150]:
"      ".isspace()

True

In [151]:
"Jatin     ".isspace()

False

In [152]:
 #istitle()--->check the string if title cased i.e all word have capital letter in start

In [153]:
"Jatin Yadav".istitle()

True

In [154]:
"Jatin Yadav  Chhatarpur Madhya pradesh".istitle()

False

In [155]:
#replace()----replace all the occurance of old string with new string

In [156]:
"Python Program".replace(" ","$")

'Python$Program'

In [158]:
"India is big country".replace("big","Great")

'India is Great country'

In [159]:
#join()---->return a string in which the squence(list,tuple,string) have been joined by seperator

In [160]:
a=("Jan",'Feb',"mar")

In [161]:
s='&'  #seprator

In [162]:
s.join(a)

'Jan&Feb&mar'

In [163]:
l=['sun','mon','tues']

In [164]:
'%'.join(l)

'sun%mon%tues'

In [165]:
"#".join("Jatin")

'J#a#t#i#n'

In [166]:
#swapcase() return with change cases upper--->lower and lower--->upper

In [167]:
"JaTiN".swapcase()

'jAtIn'

In [168]:
#split()------>split the string into substrinh according to seprator

In [175]:
'I love my country India'.split("o") #return list by default seprator is space

['I l', 've my c', 'untry India']

In [176]:
#partition() gives tuple on space bases

In [177]:
#on which character we split does not display in result

In [1]:
#count number of times a character occurs in the given string

In [2]:
string=input("Enter your string")

Enter your stringi love love loce love my inida

In [9]:
string=list(string)

In [10]:
c=input("Enter character to check frequency")

Enter character to check frequencylove

In [11]:
count=0
for i in string:
    if i==c:
        count=count+1
print(count)

0

In [13]:
#check palindrome string example naman

In [22]:
string=input("Enter string:")
string=string.lower()
rev=string[::-1]
if string==rev:
    print("string is palindrome")
else:
    print("not a palindrome")

Enter string:Naman
string is palindrome

In [24]:
s1=input("Enter string:")
s1=s1.lower()
Reverse=''
for i in range(len(s1)-1,-1,-1):
    Reverse=Reverse+s1[i]
if s1==Reverse:
    print("String is palindrome")
else:
    print("String is not palindrome")

Enter string:Naman
String is palindrome

In [25]:
#captilize first and last letter of string

In [49]:
string=input("Input a string:")

Input a string:i love my india

In [50]:
string=string.title()

In [51]:
string

'I Love My India'

In [52]:
words=string.split()

In [53]:
words

['I', 'Love', 'My', 'India']

In [54]:
"Jatin"[:-1]

'Jati'

In [55]:
"Jatin"[-1]

'n'

In [56]:
st="Jatin"

In [57]:
r=''

In [60]:
for i in words:
    r=r+i[:-1]+i[-1].upper()+' '
print(r[-1])

In [62]:
#reverse string wordwise

In [63]:
string=input("Enter a string")
wordslist=string.split()

Enter a stringi love learning data science

In [64]:
wordslist

['i', 'love', 'learning', 'data', 'science']

In [67]:
rev=' '.join(reversed(wordslist))

In [68]:
rev

'science data learning love i'

In [69]:
wordslist[::-1]

['science', 'data', 'learning', 'love', 'i']

In [70]:
#reverse alternate words in string

In [79]:
string=input("Enter a string:")
string=string.split()
for index in range(0,len(string)):
    rev=''
    for character in string[index]:
        rev=character+rev
    string[index]=rev
reverse=' '.join(string) #converted to string
print(reverse)

Enter a string:I love to learn python programming
I evol ot nrael nohtyp gnimmargorp

In [80]:
#repalce vowels with some string

In [89]:
string=input("Enter a string:")
for i in string:
    if i.lower() in "aeiou":
        print("*",end= ' '
              print(i)

Enter a string:l  love you meri jaan
l


l
* v
*
y
* *
m
* r
*
j
* * n